script(type='text/javascript', src='assets/js/css_browser_selector.min.js')
script(type='text/javascript', src='http://platform.twitter.com/widgets.js')
script(src='assets/js/jquery.requestAnimationFrame.js')
script(type='text/javascript', async='', defer='', src='http://iprodev.com/projects.php?p=ilightbox')
script(src='assets/js/google-code-prettify/prettify.js')
script(src='src/js/jquery.mousewheel.js')
script(src='src/js/ilightbox.js')
script(type='text/javascript' src='js/customer.js')
