.col-md-4.col-xs-4
  .button2.button-ajax
    .button-img
     img(src='lib/image/Ironman.png')
    .button-article 樣式六
.col-md-4.col-xs-4
  .button2.button-ajax
    .button-img
     img(src='lib/image/icon1.png')
    .button-article 樣式一
.col-md-4.col-xs-4
  .button2.button-ajax
    .button-img
     img(src='lib/image/icon2.png')
    .button-article 樣式一
.col-md-4.col-xs-4
  .button2.button-ajax
    .button-img
     img(src='lib/image/icon3.png')
    .button-article 樣式一
.col-md-4.col-xs-4
  .button2.button-ajax
    .button-img
     img(src='lib/image/icon1.png')
    .button-article 樣式一
.col-md-4.col-xs-4
  .button2.button-ajax
    .button-img
     img(src='lib/image/icon2.png')
    .button-article 樣式一
.col-md-4.col-xs-4
  .button2.button-ajax
    .button-img
     img(src='lib/image/Ironman.png')
    .button-article 樣式六
.col-md-4.col-xs-4
  .button2.button-ajax
    .button-img
     img(src='lib/image/icon1.png')
    .button-article 樣式一
.col-md-4.col-xs-4
  .button2.button-ajax
    .button-img
     img(src='lib/image/icon2.png')
    .button-article 樣式一
.col-md-4.col-xs-4
  .button2.button-ajax
    .button-img
     img(src='lib/image/icon3.png')
    .button-article 樣式一
.col-md-4.col-xs-4
  .button2.button-ajax
    .button-img
     img(src='lib/image/icon1.png')
    .button-article 樣式一
.col-md-4.col-xs-4
  .button2.button-ajax
    .button-img
     img(src='lib/image/icon2.png')
    .button-article 樣式一