body
 //setting
 .container-fluid
  #carousel-exaple-generic.carousel.slide(data-ride="carousel")
 .container
  .row
    //bingbanner
    .bigbanner.col-md-12
      .role
      .banner-pic
      .banner
        img#customerImg(src='lib/image/sample1.jpg')
  .row.banner-btn-selection
    .col-md-4.col-sm-4
      .button
        .button-img
          img(src='lib/image/icon1.png')
        .button-article 樣式一
    .col-md-4.col-sm-4
      .button
        .button-img
          img(src='lib/image/icon2.png')
        .button-article 樣式二
    .col-md-4.col-sm-4
      .button
        .button-img
          img(src='lib/image/icon3.png')
        .button-article 樣式三
    .col-md-4.col-sm-4
      .button2
        .button-img
          img(src='lib/image/Ironman.png')
        .button-article 樣式四
    .col-md-4.col-sm-4
      .button2
        .button-img
          img(src='lib/image/Ironman2.png')
        .button-article 樣式五
    .col-md-4.col-sm-4
      .button2
        .button-img
          img(src='lib/image/Ironman.png')
        .button-article 樣式六

  .row.return-banner-pture
  .row.banner-btn-selection2
    button.btn.btn-primary.removepage 重新整理
    button.btn.btn-success.pagecopy 確認送出
  .row.banner-btn-selection3
    .btngroup(role='group' aria-label='...')
      button.btn.btn-primary E-mail 
      button.btn.btn-success 下載檔案
      button.btn.btn-info 歷史紀錄
 script(type='text/javascript' src='lib/js/html2canvas.js')
 script(type='text/javascript' src='js/custmom.js')



