#wrap-lightbox.container
 .row
  .col-md-12
   .button-img
    img(src='lib/image/sample1.jpg')
   .lightbox-button
    a.btn.btn-primary.btn-lg(href="#") 下載檔案
    a.btn.btn-success.btn-lg(href="#") E-mail	
    a.btn.btn-danger.btn-lg(href="#") 上一頁

